@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto.woff2') format('woff2'),
         url('../fonts/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensanslight.woff2') format('woff2'),
         url('../fonts/opensanslight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSansB';
    src: url('../fonts/opensans.woff2') format('woff2'),
         url('../fonts/opensans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}